<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>CodeSandbox Vue</title>

	<style>
		.v-enter-active, .v-leave-active { 
			 transition: opacity 1s; 
		} 
		.v-enter, .v-leave-to { opacity: 0; }
	</style>
</head>

<body>
	<div id="app">
		<!-- <ul>
			<li v-for="item in list" @click="handleClick">{{ item }}</li>
		</ul> -->
		<!-- <input type="text" v-model="message">
		{{ message }} -->

		<!-- <button @click="show=!show">切り替え</button>
		<p v-if="show">Hello Vue.js!</p> -->

		<button @click="show=!show">切り替え</button>
		<transition>
			<p v-if="show">Hello Vue.js!</p>
		</transition>

	</div>
	<!-- built files will be auto injected -->
</body>

</html>